# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
.DS_Store

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
*.tmp

# Editor
.vscode/
.idea/

